* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background: radial-gradient(ellipse at center, #f6e8d7 0%, #dabe9b 100%);
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leg {
    position: absolute;
    top: 0;
    left: 147px;
    width: 151px;
    height: 245px;
    transform-origin: 50% 0;
}

.floor {
    background-color: #232323;
    height: 156px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.shoes-container {
    position: relative;
    animation: fade-in 0.8s ease-in-out 1s;
    animation-fill-mode: both;
}

.shoe {
    /*background: url(https://100dayscss.com/codepen/doc-martens.svg) no-repeat center center;*/
    background: url(../img/nea.jpg);
    width: 160px;
    height: 160px;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 0 95%;
}

.left {
    animation: leg-swing 2s ease-in-out infinite;
}

.right {
    animation: leg-swing 2s ease-in-out 1s infinite;
}

.left .shoe {
    animation: shoe-rotate 2s ease-in-out infinite;
}

.right .shoe {
    animation: shoe-rotate 2s ease-in-out 1s infinite;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes leg-swing {
    0% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

@keyframes shoe-rotate {

    0%,
    100% {
        transform: rotate(-10deg) translateY(-5px) translateX(10px);
    }

    25% {
        transform: rotate(0deg) translateY(0px) translateX(0);
    }

    50% {
        transform: rotate(10deg) translateY(-10px) translateX(10);
    }

    75% {
        transform: rotate(0deg) translateY(-30px) translateX(0);
    }
}